<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/google.css" />
<link rel="stylesheet" href="/stylesheets/line.css" />
<h1 class="text-center">ユーザー新規登録フォーム</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h3 id = "msg" class="text-danger"></h3>
            <form action="\register" method = "POST" class = "center-block validation" novalidate>
                <div class="input-group">
                    <span class="input-group-text">期</span>
                    <input type="number" id = "grade" name = "grade" class = "form-control" required>
                    <span class="input-group-text">サークル名</span>
                    <input type="text" id = "circleName" name = "circleName" class = "form-control" required>
                </div>
                <div>
                    <label for="email" class="col-form-label">メールアドレス</label>
                    <input type="email" id = "email" name = "email" class = "form-control" required>
                </div>
                <div>
                    <label for="emailConform" class="col-form-label">メールアドレス確認用</label>
                    <input type="email" id = "emailConform" name = "emailConform" class = "form-control" required>
                </div>
                <div>
                    <label for="password" class="col-form-label">パスワード</label>
                    <input type="password" id = "password" name = "password" class = "form-control" required>
                </div>
                <div>
                    <label for="passwordConform" class="col-form-label">パスワード確認用</label>
                    <input type="password" id = "passwordConform" name = "passwordConform" class = "form-control" required>
                </div>
                <button class = "btn btn-success my-3" type = "button" id = "submitButton">ユーザー新規登録</button>
                <h3>すでにアカウントをお持ちの方はこちら</h3>
                <a href="/login" class="btn btn-info">ログインフォームへ</a>
            </form>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-6 offset-3">
            <div class="card justify-content-center">
                <div class="card-body">
                    <form action="/line/login"class = "my-3">
                        <button class="line-login-button"><img src="/pictures/btn_login_base.png" alt="LINEログインボタン" /></button>
                    </form>
                    <form action="/google/login" class = "my-3">
                        <button class="gsi-material-button">
                            <div class="gsi-material-button-state"></div>
                            <div class="gsi-material-button-content-wrapper">
                                <div class="gsi-material-button-icon">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block">
                                        <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                                        <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                                        <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                                        <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                                        <path fill="none" d="M0 0h48v48H0z"></path>
                                    </svg>
                                </div>
                                <span class="gsi-material-button-contents">Sign in with Google</span>
                                <span style="display: none">Sign in with Google</span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
</div>
<script src = "/javascript/newUserForm.js"></script>