<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/google.css" />
<link rel="stylesheet" href="/stylesheets/line.css" />
<h1 class="text-center">パスワード変更フォーム</h1>
<div class="container mb-3">
    <div class="row">
        <div>
            <div class="center-block col-12 col-md-6 offset-md-3">
                <h3 id = "msg"></h3>
                <form action="/mails/forgotPassword" method="post" class="validation" novalidate>
                    <div>
                        <label for="email" class="col-form-label">パスワードを変更したいアカウントのメールアドレス</label>
                        <input type="email" id="email" name = "email" class="form-control" required>
                    </div>
                    <div class="card-text mx-2">ボタンをクリックすると下記メールアドレス宛てにパスワード変更案内が届きますので、案内に従い手続きを進めてください</div>
                    <button class="btn btn-danger my-3" id = "submitButton" >メールを送信</button>
                </form>
            </div>
        </div>
    </div>
<script src="\javascript\auth\resetPassword.js"></script>