<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/adminIndex.css">
<div class="row my-3">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title text-center fs-2">管理者ダッシュボード</h5>
            </div>
          </div>
    </div>

</div>
<div class="row my-3">
    <div class="col-12 col-md-3 offset-md-3">
        <div class="card cardHover mb-2">
            <div class="card-body">
              <a href="/admin/live-management">
                  <h5 class="mb-2card-title fs-4">ライブ・PA表の管理</h5>
                  <p class="card-text">ライブの削除・編集<br>PA表の管理</p>
              </a>
            </div>
          </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="card cardHover mb-2">
            <div class="card-body">
                <a href="/admin/user-management">
                    <h5 class="card-title fs-4">ユーザー管理</h5>
                    <p class="card-text">ユーザーの削除・編集</p>
                </a>
            </div>
          </div>
    </div>
</div>
<div class="row my-3">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card cardHover">
            <div class="card-body">
              <a href="/admin/live/">
                  <h5 class="card-title text-center fs-3">live本番用<br>PA表表示</h5>
              </a>
            </div>
          </div>
    </div>
</div>