.hidden{
    display: none;
}

.display{
    display: block;
}

#msg{
    color: red;
}

.input-group-text{
    width:33.333%;
}

.searchSongIcon{
    width:10%
}

.searchResultTable1{
    width:20%
}
.searchResultTable2{
    width:50%
}
.searchResultTable2{
    width: 30%;
}