#list{
    margin-top:2rem;
}

.handle{
    cursor: move;
    text-align: center;
    margin-top: auto;
}

.handleTh{
    width: 15%;
}

.handle {
    vertical-align: middle; /* td内の要素を縦方向の中央に揃える */
}

i {
    display: inline-block; /* 必要に応じてブロック表示 */
}
.bi-chevron-bar-expand .cards{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    margin-top: 1rem;
}

.card-body{
    margin-left: 3rem;
}

.hiddenBtn{
    cursor: pointer;
}

.hidden{
    display: none;
}

#order{
    width:6rem;
}

form{
    display: inline;
}

#order{
    width: 2rem;
}

.saveMenu{
    position: sticky;
    top: 70px;
    z-index: 999;
}

table {
    table-layout: fixed;
    width: 100%;
 }

tr{
    text-align: left;
}