.hidden{
    display: none;
}

.display{
    display: block;
}

#msg{
    color: red;
}

.input-group-text{
    width:33.334%;
}

.searchSongIcon{
    width:10%
}

.searchResultTable1{
    width:20%
}
.searchResultTable2{
    width:50%
}
.searchResultTable2{
    width: 30%;
}

.scroll{
    overflow-y: scroll;
    height: 10rem;
}

.tableHead{
    font-size: 0.8rem;
}
