<% layout("layouts/boilerplate") %>
<div class="row text-center">
    <div class="col-12">
        <div class="col-md-6 offset-md-3">
            <div class="hero-text">
                <h1>BZB PA TOOLへようこそ！</h1>
            </div>
            <div class = "text-start">
                <h2>●使い方</h2>

            </div>
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-info btn-lg my-3" href="/register" role="button">ユーザー登録をして始める</a>
                    <h3>アカウントをお持ちの方は</h3>
                    <a class="btn btn-success btn-lgmy-3" href="/login" role="button">ログインする</a>
                </div>
            </div>

        </div>
    </div>
</div>