<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/live.css" />

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
        <h1 id="liveName"><%= live.name %>出演バンド一覧</h1>
        <form action="/lives/<%=live._id%>/new">
            <button class="btn btn-success">PA表を新規作成</button>
        </form>
        <div class="container" id="list">
          <div class="card">
            <div class="card-header">出演順</div>
            <table class="table table-striped table-hover">
              <thead>
                <th scope="col" id = "order">出演順</th>
                <th scope="col">バンド名</th>
              </thead>
              <tbody>
                <% live.bands.forEach((band, index) => {%>
                <tr>
                  <th scope="row">
                    <span class="handle hidden"><i class="bi bi-chevron-bar-expand cards"></i></span>
                    <span class="badge bg-secondary no"><%= index + 1 %></span>
                  </th>
                  <td><%= band.name %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
        
          </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
        <script src="https://code.jquery.com/jquery.min.js"></script>
    </div>

</div>