<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3 text-center">
        <h1><%= band.name %> PA表</h1>
    </div>
    <%- include("../partials/showBand/paTable", {band}) %>
</div>
